
<div id="footer" class="footer">
    
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.8
    </div>
    <strong>Copyright &copy; 2014-2018 <a href="http://hos.com.pk">House Of Solutions</a>.</strong> All rights
    reserved.
</div>

